.banner-image{
    width: 100%;
    background-color: #1E93AB;
     border-top-left-radius: 50%;   
  border-top-right-radius: 0px;  
  border-bottom-right-radius: 50%; 
  border-bottom-left-radius: 0px;
    
}